*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:#fff;
}
html{
    font-family: 'Open Sans', sans-serif;
}
#login-form{
    width: 400px;
    height: 500px;
    background-color: #fff;
    padding: 2rem;
    margin:0 auto;
    position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -200px;
  border-radius: 7px;
}

#login-form .form-group{
    margin-bottom: 1rem;
}
#login-form h1{
    font-family: 'Langar', cursive;
}
#login-form h2{
    margin-top:3rem;
}

#login-form p{
    margin-top:2rem;
    text-align: center;
}