#login-form{
    width: 340px;
    height: 500px;
    background-color: #fff;
    padding: 2rem;
    margin:0 auto;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 7px;
  position: fixed;
  top:10%;
  right: 0;
  margin-left:-170px;

}